<!DOCTYPE html>
<html>
<head>
    <title>Torneig d'Escacs</title>
</head>
<body>
    <h1>Benvingut al Torneig d'Escacs d'Ayman Dghoughi i Ian Díaz</h1>
    <ul>
        <li><a href="/participants">Gestionar Participants</a></li>
        <li><a href="/partides/lliga">Mode Lliga</a></li>
        <li><a href="/partides/eliminatories">Mode Eliminatòries</a></li>
        <li><a href="/puntuacions">Classificació Lliga</a></li>
        <li><a href="/ranking_eliminatories">Classificació Eliminatòries</a></li>
    </ul>
</body>
</html>
